
@{
    ViewBag.Title = "Gallery";
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Rugby A sports Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Rugby Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- js -->
    <script src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
    </script>
</head>
<body>
    <div class="banner banner5">
        <h2>Gallery</h2>
    </div>
    <div class="container">
        <div class="products-bottom">
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c1.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">

                        <img src="~/Content/images/c2.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c3.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c4.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c5.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c6.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c7.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c7.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c8.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c8.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <div id="nivo-lightbox-demo">
                    <a href="~/Content/images/c9.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                        <img src="~/Content/images/c9.jpg" class="img-responsive " alt="" />
                        <div class="rotate">
                            <i class="glyphicon glyphicon-zoom-in"> </i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--script-->
        <link rel="stylesheet" type="text/css" href="~/Content/css/magnific-popup.css">
        <script type="text/javascript" src="~/Content/js/nivo-lightbox.min.js"></script>
        <script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
        </script>
    </div>

</body>
</html>


